.container{
    position: relative;
}
.background{
    width:100%;
    height:auto;
}
.overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
}
.overlaytext {
    position: absolute;
    font-size: 50px;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
}
.overlaytextsml {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
}
.contactbutton{
    text-decoration: none;
    font-size: 25px;
    position: absolute;
    padding: 16px;
    background-color: black;
    color: white;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
}
.motive{
    display: flex;
    justify-content: space-between;
    margin:20px 250px;
    border-radius: 50px;
    background-color: rgb(176, 180, 183);
    padding: 50px;
}
.card{
    padding:20px ;
    background-color: aqua;
    border-radius: 30px;
}
.card p{
    margin: 20px 0px;
}
.support{
    background-image: url("asset/handshake.jpg");
    background-size: cover;
    background-position: center;
    margin:20px 150px;
    border-radius: 40px;
    padding: 150px;
    color: aliceblue;
    text-align: center;
    align-items: center;
}